* {
  box-sizing: border-box;
}
.side-bar{
  height: 100%;
  width: 300px;
  float: left;
  color: white;
  

  .side-bar__user-name {
    background-color: #253141;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    
    .side-header__top-items{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      background-color: rgb(75, 136, 187);
      .top-items__name{
        
      }
      .top-items__icon{
        display: flex;
        
      }
    }
  }
  .side-bar__group-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }
}
.chats{
  width: calc(100vw - 300px);
  float: left;
}
.chat-main__group-info {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
}

 
.chat-main__message--list {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}
 
.chat-main__message--form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}
 