.side-bar
  .side-bar__user-name
    
    .side-header__top-items
      
      .top-items__name
        i
      .top-items__icon
        = link_to "#", class:" " do
          =icon('fab', ' ')
  .side-bar__group-list
    <リスト>